[submodule "libs/base"]
	path = libs/base
	url = git@github.com:eliasnijs/c-base.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
